@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  transition: 0.6s;
}

header.sticky{
  background: #000000;
  padding: 15px 100px;
}

header .brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a,.profile{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}
header .menu .profile{
  display: flex;
  align-items: center;
  background-color: #000;
}

header .menu a:hover{
  color: #000;
  background: #fff;
}

header .menu .profile :hover{
  color: #000;
  background: #fff;
}
header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
header .menu .m.active{
  position: fixed;
  display: block;
  background: #000;
  flex-direction: column;
  min-width: 200px;
  max-height: 200vh;
  top: 90px;
  right: 0;
  padding: 30px 10px;
  transition: 0.5s;
  color: #fff;
  transition-property: top;
  background-color: #000;
}
  .m
{
  top:-200px;
  display: none;
  background-color: #fff;
}
.m .p
{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .m .p:hover{
  color: #000;
  background: #fff;
}


@media (max-width: 1060px){
  header .btn{
    display: block;
  }
  header{
    padding: 15px 40px;
  }
  header.sticky{
    padding:15px 40px;
  }
  header .menu{
    position: fixed;
    background: #000;
    flex-direction: column;
    min-width: 200px;
    height: 55vh;
    top: -700px;
    right: 0;
    padding: 30px 10px;
    transition: 0.5s;
    transition-property: top;
  }


  header .menu.active{
    top: 0;
  }

  header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}